html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 114);
}

#app {
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}